<p>You successfully booked a flight:<p>
<p>
    Flight id: <%= @booking.flight.id %> 
    From: <%= @booking.flight.departure.name %> 
    To: <%= @booking.flight.arrival.name %> 
    Date: <%= @booking.flight.start %> 
    Flight duration: <%= @booking.flight.duration %> 
    Passengers number: <%= @booking.seats_number %>
</p>

<p>Please follow this link and confirm your booking: <%= @url %> </p>